<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/content/site.css" rel="stylesheet" type="text/css" />
</head>
<body class="bg">
    <nav class="navbar navbar-expand-sm navbar-light fixed-top">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-link"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <!-- <li class="nav-link"><a asp-controller="PotteryProduct" asp-action="List">Pottery Products</a></li> -->
                <li class="nav-link">
                    @await Component.InvokeAsync("CategoryMenu")
                </li>
                <li class="nav-link"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
            </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    @await Component.InvokeAsync("ShoppingCartSummary")
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <p class="lead">
                        <img class="img-fluid" alt="Pottery Products Logo" src="~/images/logo.png" />
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        @RenderSection("Scripts", false)
    </body>
    </html>
