@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
         <a>
             <span class="material-icons">shopping_cart</span>
             <span id="cart-status">
                 @Model.ShoppingCart.GetNumberOfItems()
             </span>
         </a>
    </li>
}
